In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
#url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
url = 'energydata_complete.csv'
df = pd.read_csv(url)

In [14]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [16]:
df.describe(include='all')

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-02-28 13:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [27]:
df.drop(['lights'], axis=1, inplace=True)
df.drop(['date'], axis=1, inplace=True)

# MEAN ABSOLUTE ERROR

In [30]:
#normalising the dataset to a common scale using the min max scaler

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features = normalised_df.drop(columns=['Appliances'])
target = normalised_df['Appliances']

In [31]:
#split data

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)

In [32]:
#train and predict the data
from sklearn.linear_model import LinearRegression


linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predict_values = linear_model.predict(x_test)

In [33]:
from sklearn.metrics import r2_score
#R_Squared Error or goodness of fit
#the higher the values, the better the model. but not always true

r2_score = r2_score(y_test, predict_values)
round(r2_score,2)

0.15

In [34]:
#Residual sum of squares
#for Residual sum of squares, the lower the value, the better the model's estimations

rss = np.sum(np.square(y_test - predict_values))
round(rss,2)

45.35

In [35]:
from sklearn.metrics import mean_squared_error

#root mean square error
#for RMSE, the lower the values, the smaller the deviation from the actual values
rmse = np.sqrt(mean_squared_error(y_test, predict_values))
round(rmse,3)

0.088

In [37]:
from sklearn.metrics import mean_absolute_error

#MAE
#for mean absolute error, the lower the value, the better the model's estimations

mae = mean_absolute_error(y_test, predict_values)
round(mae,2)

0.05

In [38]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [39]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [40]:
#comparing the effects of regularisation

def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['features',col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_model_weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='features')

In [15]:

final_weights

                 features  Linear_model_weight  Ridge_weight  Lasso_weight
0                   T_out        -1.459044e-15      0.026031      0.000000
1              Hum_living        -1.457486e-15      0.002661      0.000000
2       Temp_parents_room        -1.412276e-15      0.002212      0.000000
3             Temp_living        -1.240122e-15      0.009271      0.000000
4             Hum_laundry        -5.595745e-16     -0.002051      0.000000
5        Hum_ironing_room        -5.551319e-16      0.000210      0.000000
6                  RH_out        -3.334579e-16      0.002396     -0.000000
7              Visibility        -2.738175e-16      0.000043     -0.000000
8             Temp_office        -1.810307e-16     -0.000743      0.000000
9    Hum_outside_building        -1.767906e-16     -0.002608     -0.003799
10                    rv2        -1.738504e-16     -0.000008     -0.000000
11            Press_mm_hg        -6.685183e-17     -0.000580     -0.000000
12     Temp_teenager_room        -5.511803e-17     -0.001040      0.000000
13             Hum_office        -1.144523e-17      0.001037      0.000000
14           Temp_laundry         4.166879e-18      0.000803      0.000000
15              Windspeed         8.873256e-17     -0.000092      0.000000
16             Temp_Kichn         1.048917e-16     -0.005937      0.000000
17                    rv1         1.522776e-16     -0.000008     -0.000000
18           Hum_bathroom         1.743760e-16     -0.000069     -0.000000
19       Hum_parents_room         2.249668e-16      0.000338      0.000000
20              Tdewpoint         5.420251e-16     -0.000310      0.000000
21      Hum_teenager_room         6.972361e-16     -0.001388      0.000000
22          Temp_bathroom         8.617243e-16     -0.001879      0.000000
23      Temp_ironing_room         1.227351e-15     -0.001186      0.000000
24              Hum_kichn         1.668593e-15     -0.000764      0.000000
25  Temp_outside_building         1.000000e+00      0.970943      0.963632